*{
    margin: 0;
    padding: 0;
}

.nav-tabs-boxed .nav-tabs .nav-link.active {
    background-color: #efefef54;
    border-bottom-color: #efefef54;
}

.nav-tabs-boxed .tab-content {
    padding: .75rem 1.25rem;
    border: 1px solid;
    border-radius: 0 .25rem .25rem .25rem;
    color: #768192;
    background-color: #efefef54;
    border-color: #d8dbe0;
}

table tbody tr.highlighted {
    background-color: rgba(46, 184, 92, 0.5)!important;
    color: #fff;
}

.form-wp1{
    padding-left: 1em;
    padding-right: 1em;
}

.rate, .rate2 {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input, .rate2:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label, .rate2:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before, .rate2:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label, .rate2 > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

li.page-item.active a.page-link{
    background-color: rgba(46, 184, 92, 1);
    border-color: rgba(46, 184, 92, 1);
}

input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    border-radius: 40px;
    background: rgba(46, 184, 92, 1);
}

input[type="range"]::-webkit-slider-thumb:hover ,input[type="range"]::-webkit-slider-thumb:active {
    -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(46, 184, 92, 0.5);
    background: rgba(46, 184, 92, 1);
}

.text-big{
    font-size: 125%;
}

div.c-sidebar .c-sidebar-nav-dropdown-toggle:hover, .c-sidebar .c-sidebar-nav-link:hover {
    color: #fff;
    background: rgba(46, 184, 92, 0.75);
}

div.c-sidebar.c-sidebar-minimized .c-sidebar-nav>.c-sidebar-nav-dropdown:hover, .c-sidebar.c-sidebar-unfoldable:not(:hover) .c-sidebar-nav>.c-sidebar-nav-dropdown:hover {
    background: rgba(46, 184, 92, 0.75);
}

button.btn-primary{
    color: #fff;
    background: rgba(46, 184, 92, 0.75);
    border-color: rgba(46, 184, 92, 0.9);
}

button.btn-primary:hover{
    color: #fff;
    background: rgba(46, 184, 92, 1);
    border-color: rgba(46, 184, 92, 0.9);
}

.calendar .btn-primary{
    color: #fff;
    background: rgba(46, 184, 92, 0.75);
    border-color: rgba(46, 184, 92, 0.9);
}

.calendar .btn-primary:hover{
    color: #fff;
    background: rgba(46, 184, 92, 1);
    border-color: rgba(46, 184, 92, 0.9);
}

.calendar .btn-primary:not(:disabled):not(.disabled).active,
.calendar .btn-primary:not(:disabled):not(.disabled):active,
.calendar .show>.btn-primary.dropdown-toggle{
    color: #fff;
    background: rgba(46, 184, 92, 1);
    border-color: rgba(46, 184, 92, 0.9);
}

a, a:hover {
    color: #768192;
}

ul.nav-pills .nav-link.active, ul.nav-pills .show>.nav-link {
    color: #fff;
    background: rgba(46, 184, 92, 0.75);
}

a.dropdown-item.active, a.dropdown-item:active {
    text-decoration: none;
    color: #fff;
    background: rgba(46, 184, 92, 0.75);
}

a.dropdown-item.notification.active, a.dropdown-item.notification:active {
    text-decoration: none;
    color: #455164;
    background-color: #ebedef;
}

.c-sidebar-minimized .c-sidebar-nav .c-sidebar-nav-item .c-sidebar-nav-link:hover {
    color: #fff;
    background: rgba(46, 184, 92, 0.75);
}

.c-sidebar-nav .c-sidebar-nav-item .c-sidebar-nav-link:hover {
    color: #fff;
    background: rgba(46, 184, 92, 0.75);
}

div.c-sidebar .c-sidebar-nav-link.c-active {
    color: #fff;
    background: rgba(46, 184, 92, 1);
}


#header {
    position: static;
    height: 52px;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(147, 157, 170, 0.03);
    box-shadow: 0 0.2rem 0.5rem 0 rgba(147, 157, 170, 0.03);
}

#header_menu {
    display: flex;
    flex-direction: row;
    float: right;
    height: 100%;
}

#header_menu > * {
    vertical-align: center;
    margin: 10px 0 10px 0;
    padding: 0 15px 0 15px;
}

#header_menu > *:last-child {
    width: 100%;
    background-color: #269af1;
    border: 1px solid #269af1;
    border-radius: 3px;
    color: white;
    display: inline-flex;
    font-size: 20px;
    line-height: 1.429;
}

.p-front__navbar-collapse {
    align-items: center;
}

.form-inline {
    margin-bottom: 0;
}

.navbar-brand > img {
    height: 40px;
    position: relative;
    top: -20%;
}

.navbar-brand {
    height: 40px;
}

body > .sidebar {
    z-index: 2000;
}

.success {
    background-color: #55b559;
    color: #ffffff;
}

.info {
    background-color: #00cae3;
    color: #ffffff;
}

.warning {
    background-color: #ff9e0f;
    color: #ffffff;
}

.danger {
    background-color: #f55145;
    color: #ffffff;
}

.toast-icon {
    width: 1rem;
    height: 1rem;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: -100%;
    margin-top: -1px;
}

.item-info-active,
.item-info-active:focus,
.item-info:focus,
.item-info:hover{
    color: #ffffff !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    background-color: #00bcd4 !important;
}

.form-group.row {
    display: flex;
}

.form-group.row > .form-check-label > .form-check-sign {
    float: none;
    position: relative;
    text-align: center;
}

.form-check .form-check-label .form-check-sign:before {
    display: none !important;
}

.has-danger .select2 {
    margin-top: 15px;
}

.errors {
    text-align: left;
    margin: 10px 15px;
}

.errors > span {
    width: 100%;
    padding: 10px 15px;
}

.table-responsive td {
    overflow-y: hidden;
    white-space: nowrap;
}

#lang_selector > i {
    display: inline-block;
}

#lang_selector > span {
    display: inline-block;
}

#lang_selector {
    width: 100%;
}

select {
    background-color: transparent;
    border: 1px gray solid;
    border-radius: 5%;
    padding: 3px;
    width: 100%;
}

div.sidebar .nav i {
    margin-left: -5px;
}

.logo-mini{
    opacity: 1;
    float: left;
    width: 30px;
    text-align: center;
    margin-left: 23px;
    margin-right: 5px;
}

.sidebar .logo::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0,0%,71%,.3);
}

div.sidebar .logo{
    margin: 0;
}

img.navbar-brand.logo-mini{
    margin: 5px 0 0 0;
    float: right;

}

img.navbar-brand.logo-normal{
    margin: 0;
    float: left;
}

.dt-button-collection.dropdown-menu {
    opacity: 1;
}

html div > table > tbody > tr > td > div.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
}

html div > table > thead > tr > th > div.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
}

#lotModify_serials .card-body > .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

select.custom-select{
    padding:  0.375rem 1.75rem 0.375rem 0.375rem;
}

select.custom-select:focus{
    border-color: #0b75c9;
}

div.bmd-form-group [class^='bmd-label']{
    position: relative;
}

tr.green {
    color: green;
}

tr.yellow {
    color: darkorange;
}

tr.red {
    color: red;
}

tr.purple {
    color: purple;
}

tr.orange {
    color: orange;
}

div.sidebar::before, .off-canvas-sidebar nav .navbar-collapse::before {
    background-color: #FFFFFF;
}

.submenu-active{
    background-color: rgba(200, 200, 200, 0.2);
    border: 2px solid #00bcd4;
}

@media (max-width: 991px){
    #notifDropdown > i, #userDropdown > i{
        display: none;
    }
}

#logoutModal{
    z-index: 3000;
}

.card table {
    font-size: 0.7rem;
}

body .form-check,
body label {
    font-size: 0.75rem;
}

#clear-all-toasts {
    z-index: 999999999999;
    position: absolute;
    right: 2%;
    font-size: 9px;
    width: 15%;
    display: none;
}

.tablesButtonMargin{
    margin: 10px;
}

td.alert-info{
    background-color: #7889e845;
}

.icon-actions > a {
    font-size: .875rem;
    display: inline-block;
    margin-right: .75rem;
    color: #8898aa;
}

.post{
    font-size: 20px
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-comment {
    margin-top: 2rem;
}

.media-comment-text {
    position: relative;
    padding: 1rem 1.25rem 1rem 2.5rem;
    border-radius: .4375rem;
    border-top-left-radius: 0;
    background-color: #f6f9fc;
}

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: .375rem;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}

avatar-lg {
    font-size: .875rem;
    width: 58px;
    height: 58px;
}

.media-comment-avatar {
    position: relative;
    z-index: 1;
    margin-top: -1rem;
    margin-right: -2rem;
    transition: all .15s ease;
    border: 4px solid #fff;
}

div.hide{
    display: none;
}

.card-profile-image img {
    position: absolute;
    left: 50%;
    max-width: 140px;
    transition: all .15s ease;
    transform: translate(-50%,-50%) scale(1);
    border: 3px solid #fff;
    border-radius: .375rem;
}

.avatar.rounded-circle img, .rounded-circle {
    border-radius: 50%!important;
}

img {
    vertical-align: middle;
    border-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

nav .menu-toggle {
	cursor: pointer;
	display: none;
	float: right;
	padding: 12px;
	margin: 10px 0;
	background: #0e0e0e;
	transition: background-color .5s
}
nav .icon-bar {
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px
}
nav .icon-bar + .icon-bar { margin-top: 4px }