a:hover{
    text-decoration: none;
}

a.card {
    box-shadow: none;
    transition: .2s;
}

a.card:hover {
    box-shadow: 2px 2px rgba(0,0,0,0.2);
    transition: .2s;
}

.postTeamLogo{
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #c9c9c9;
    display: inline-block;
    vertical-align: middle;
}

.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-comment {
    margin-top: 2rem;
}

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: .375rem;
    align-items: center;
    justify-content: center;
}

.avatar-lg {
    font-size: .875rem;
    width: 58px;
    height: 58px;
}

.media-comment-avatar {
    position: relative;
    z-index: 1;
    margin-top: -1rem;
    margin-right: -2rem;
    transition: all .15s ease;
    border: 4px solid #fff;
}

.media-body {
    flex: 1 1;
}

.media-comment-text {
    position: relative;
    padding: 1rem 1.25rem 1rem 2.5rem;
    border-radius: .4375rem;
    border-top-left-radius: 0;
    background-color: #f2f3f5;
}

.lh-160 {
    line-height: 1.6;
}

.text-sm {
    font-size: .875rem!important;
}

nav .menu-toggle {
	cursor: pointer;
	display: none;
	float: right;
	padding: 12px;
	margin: 10px 0;
	background: #0e0e0e;
	transition: background-color .5s
}
nav .icon-bar {
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px
}

nav .icon-bar + .icon-bar { margin-top: 4px }

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-append {
    margin-left: -1px;
}
